/* 
    This stylesheet is for the block of codes of animations. 
    From keyframes to hovers.
*/

/* Animation keyframe for loading the webpage for the first time. */
@keyframes page-load-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

/* Animation keyframe for the navigation bar's text highlight when hovered. */
nav a {
    transition: 0.25s;
}
nav a:hover {
    color: gray;
}

/* 
    Animation for the [username-and-picture-div]'s links and picture for a more dynamic approach 
    and promotes feedback. 
*/
.social-links img:hover {
    transform: scale(1.20);
}


/* On certain tile sizes, the animation zoom scales differently, so I added small 
touches for better UI and UX. */
.picture-div:hover, .professional-development-div:hover, 
.username-and-picture-div:hover, .quote-div:hover, .tech-stack-div:hover, 
.skills-div:hover, .education-div:hover {
    transform: scale(1.025);
}
.about-me-div:hover {
    transform: scale(1.015);
}
.more-div:hover, .professional-references-div:hover {
    transform: scale(1.035);
}

/* This is the animation of the tiles when hovered over by the cursor. */
.about-me-div, .picture-div, .professional-development-div, 
.username-and-picture-div, .quote-div, .tech-stack-div, .skills-div,
.more-div, .professional-references-div, .education-div {
    transition: 0.25s;
}


/* 
    education-div
*/
@keyframes img-viewer-select-animation {
    0% {
        pointer-events: none;
        width: 45vw;
    }
    50% {
        width: 0vw;
    }
    100%
    {
        width: 45vw;
    }
}
@keyframes options-icons-pointer-events {
    from {
        cursor: default;
        pointer-events: none;
    }
    to {
        cursor: pointer;
        pointer-events: all;
    }
}