/* 
    This stylesheet is for initiating the webpage's styles, hence the [init-styles.css] name.
    Reducing scrolling and separating the "cold" block of codes.
*/

/* Configuring the default font of the webpage. */
@font-face {
    font-family: Poppins-Regular;
    src: url(../resources/Poppins-Font/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

/* Initializing the webpage's body. */
body {
    /* bg color, initiating the font and its color, and 
    animation for visiting the webpage for the first time. */
    background-color: rgb(0, 0, 0);
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    /* Main font color of the whole webpage. */
    color: white;
    /* Animation whenever the site is visited. */
    animation: page-load-fadein 0s ease-in-out;
    
    /* Main font size of the webpage. */
    font-size: 1rem;

    /* Get back on this one, this is the whole body of the webpage, make sure it's 
        responsive. It's all in auto for now. */
    overflow: hidden;
    width: 90%;
    height: auto;
    
    /* Centering the whole [body] of the [html]. */
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    
}
.tiles-container, .projects-container, .contact-container {
    padding-top: 5%;
    height: 100vh;
    width: auto;
}