/* 
    This stylesheet is if for the configuration of the elements inside the div.
    Seperating the init-tiles-styles.css and tiles-styles.css.
    Reducing scroll times and promoting seperation of concerns.
*/

/* 
    about-me-div
*/
.about-me-div {
    /* Added padding so the text inside aren't horizontally cramped. */
    padding: 0rem 2rem; 

    cursor: pointer;
}

/* 
picture-div
*/
.picture-div img {
    /* Configuring the border radius, size and cropping the picture. */
    height: 20em;
    width: 20em;
    border-radius: 40px;
    object-fit: cover;
    transition: 0.25s ease-in-out;
}

/*
    professional-development-div
*/
.professional-development-div {
    text-align: center;

    cursor: pointer;

    /* Added [!important] as I want it to prioritize this color from the 
    default configuration of [.add-border-radius-with-bg] from custom-styles.css. */
    background-color: rgb(27, 70, 95) !important;
}

/* 
    username-and-picture-div
*/
.username-and-picture-div {
    text-align: center;
}
#online-picture {
    /* Configured my online picture's size and cropped it to circle. */
    height: 8em;
    width: 8em;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}
.social-links img {
    /* Cropped the social media platforms' icons and configured its cursor to hand pointer. */
    height: 3.5em;
    width: 3.5em;
    cursor: pointer; 
    transition: 0.25s ease-in-out;
}
.social-links a {
    /* Removed the <a>'s default appearance and turned it invisible. */
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}

/* 
    quote-div
*/
.quote-div {
    padding: 0rem 2rem;

    /* Added [!important] as I want it to prioritize this color from the 
    default configuration of [.add-border-radius-with-bg] from custom-styles.css. */
    background-color: rgb(27, 70, 95) !important;
}

/* 
    tech-stack-div
*/
.tech-stack-div {
    text-align: center;

    cursor: pointer;
}
.tech-stack-div img {
    height: 4em;
    width: 4em;

}
/* 
    skills-div
*/
.skills-div {
    cursor: pointer;

    text-align: center;
}
.skills-imgs-div img{
    height: 4em;
    width: 4em;
}
/* I placed them together (skills and tech stack) here for less scrolling and organization. */
.tech-stack-imgs-div, .skills-imgs-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

/* 
    more-div
*/
.more-div {
    text-align: center;

    background-color: rgb(27, 70, 95) !important;
}

/*  
    .educations-and-experiences-div
*/
.educations-and-experiences-div {
    text-align: center;

    cursor: pointer;
}

/* 
    professional-references-div
*/
.professional-references-div {
    text-align: center;

    cursor: pointer;
}